@media  (max-width :1920px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 0px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }
    .try{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .textf{
        width: 50%;
    }
    .textf1{
        width: 100%;
        font-size: 23px;
        padding: 20px;
    }
    .tex21{
        width: 50%;
    }
    .text12{
        width: 100%;
        font-size: 23px;
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .listf{
        width: 50%;
        background-color: black;
    }
    .iconsA{
        width: 50%;
    }
    .containerFooter{
        margin-top: 100px;
    }
}
@media  (max-width :1600px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 0px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }
    .try{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .textf{
        width: 50%;
    }
    .textf1{
        width: 100%;
        font-size: 23px;
        padding: 20px;
    }
    .tex21{
        width: 50%;
    }
    .text12{
        width: 100%;
        font-size: 23px;
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .listf{
        width: 50%;
        background-color: black;
    }
    .iconsA{
        width: 50%;
    }
    .containerFooter{
        margin-top: 20px;
    }
}
@media (max-width :998px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        height: 100px;
       
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 100px;
        margin-top: 200px;
    }
}
@media (max-width :974px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        height: 140px;
       
        align-items: center;
        justify-content: center;
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        margin-top: 330px;
    }
    
}

@media (max-width :800px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        height: 100px;
        
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 100px;
    }
}
@media (max-width :798px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 30px;
        height: 100px;
       
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 40px;
    }
}
@media (max-width :768px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .textf1{
        width: 400px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        height: 140px;
        
        align-items: center;
        justify-content: center;
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        margin-top: 330px;
    }
    
}
@media (max-width :720px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
    .container1{
        display: flex;
        flex-wrap:wrap;
        gap: 50px;
        height: 100px;
        border: 2px red;
    }
    .container2{
        display: flex;
        flex-wrap:wrap;
        gap: 100px;
    }
    .grid-footer2{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0px;
        height: 200px;
        width: 60px;
        padding: 10px;
        
    }
}
@media (max-width :600px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
    }
}
@media (max-width :414px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 400px;
        font-size: 18px;
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
    }
    .text12{
        font-size: 18px;
        width: 100%;
    }
    .tex21{
        width: 100%;
    }
    .textf{
        width: 100%;
    }
    .listf{
        width: 100%;
        background-color: black;
    }
    .iconsA{
        width: 100%;
    }
}
@media (max-width :428px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 410px;
        font-size: 18px;
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
    }
    .text12{
        font-size: 18px;
        width: 100%;
    }
    .tex21{
        width: 100%;
    }
    .textf{
        width: 100%;
    }
    .listf{
        width: 100%;
        background-color: black;
    }
    .iconsA{
        width: 100%;
    }
}
@media (max-width :412px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 400px;
        font-size: 18px;
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
    }
    .text12{
        font-size: 18px;
        width: 100%;
    }
    .tex21{
        width: 100%;
    }
    .textf{
        width: 100%;
    }
    .listf{
        width: 100%;
        background-color: black;
    }
    .iconsA{
        width: 100%;
    }
}
@media (max-width :375px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 400px;
        font-size: 18px;
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
    }
    .text12{
        font-size: 18px;
        width: 100%;
    }
    .tex21{
        width: 100%;
    }
    .textf{
        width: 100%;
    }
    .listf{
        width: 100%;
        background-color: black;
    }
    .iconsA{
        width: 100%;
    }
}
@media (max-width :390px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 370px;
        font-size: 18px;
        
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
        text-align: center;
    }
    .text12{
        font-size: 18px;
        width: 100%;
    }
    .tex21{
        width: 100%;
    }
    .textf{
        width: 100%;
    }
    .listf{
        width: 100%;
        background-color: black;
    }
    .iconsA{
        width: 100%;
    }
}
@media (max-width :360px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .text1{
        width: 300px;
        font-size: 20px;
    }
    .item1{
        width: 300px;
    }
    .item3{
        width: 300px;
    }
    .textf1{
        width: 300px;
        font-size: 18px;
    }
    .container1{
        gap: 10px;
    }
    .container2{
        gap: 10px;
    }
    .text12{
        font-size: 18px;
    }
}



