@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
p{
    font-family: 'Prata', serif;
}
ul{
    font-family: 'Josefin Sans', sans-serif;
}

.img{
    margin-left: 200px;
    z-index: 1;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.navbar .navbar-collapse {
    text-align: center;
  }
 
.navbar-collapse {
    margin: -.5rem -1rem;
    padding: .5rem 1rem;
    z-index: 3;
    }
.navbar-collapse  show{  
        margin: -.5rem -1rem;
        padding: .5rem 1rem;
        z-index: 3;
        }
.img-back{
   background-position: center center;
}
.center{
    background-position: center center;
}

  .titulo-sec{
    position: relative;
    top: 150px;
    font-size: 60px;
    color: white;
    z-index: 2;
}
.navbar-toggler{
    margin-right: 40px;
}

@media screen and (max-width:1924px){
    .back-color{
        background: rgba(0, 0, 0, 0.55) none repeat scroll 0% 0%;
        background-color: rgba(0, 0, 0, 0.55);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        height: 100%;
    }
}

@media screen and (max-width:1624px){
    .back-color{
        background: rgba(0, 0, 0, 0.55) none repeat scroll 0% 0%;
        background-color: rgba(0, 0, 0, 0.55);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        height: 100%;
    }
}

@media screen and (max-width:810px){
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .navbar-toggler{
        margin-right: 40px;
    }
    .navbar-toggler-icon{
        border-color: white;
    }
    .titulo-sec{
        color:"white";
        font-size:"30px";
        margin-top:"150px";
    }
    .back-color{
        background: rgba(0, 0, 0, 0.55) none repeat scroll 0% 0%;
        background-color: rgba(0, 0, 0, 0.55);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        height: 100%;
    }
   
}

@media screen and (max-width:767px){
        .img{
            margin-left: 50px;
            width: 100px;
        }
        .navbar-toggler{
            margin-right: 40px;
        }
        .navbar-toggler-icon{
            border-color: white;
        }
        .titulo-sec{
            color:"white";
            font-size:"30px";
            margin-top:"150px";
        }
       
}
@media screen and (max-width :415px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
    .titulo-sec{
        color:white;
        font-size:40px;
        margin-top:50px;
    }
}