@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
p{
    font-family: 'Prata', serif;
}
ul{
    font-family: 'Josefin Sans', sans-serif;
}

.img{
    margin-left: 200px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.navbar .navbar-collapse {
    text-align: center;
  }
 

@media (min-width :600px) {
        .img{
            margin-left: 50px;
            width: 100px;
        }
}
@media (min-width :400px) {
    .img{
        margin-left: 50px;
        width: 100px;
    }
}